*{
	margin: 0;
	padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
	width:100%;
	margin:auto;
    padding-top: 5px;
}
header {
    position:fixed;
    width: 100%;
    display: flex;
    align-items: center;
}
.nav ol {
    list-style: none;
    margin: 0;
    display: flex;
}
.nav li {
    position: relative;
}
.nav a,.login a{
    color: white;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.login{
    padding-left: 280px;
}
.nav a:hover,.login a:hover {
    font-size: 21px;
    color: #09d9d6;
}
.dropdown {
    display: none;
    position: absolute;
    min-width: 180px;
    z-index: 1;
}
.nav li:hover .dropdown {
    display: block;
}
.dropdown li {
    width: 100%;
}
.dropdown a {
    padding: 10px 15px;
    font-size: 20px;
}
.dropdown a:hover {
    font-size: 21px;
    color: #09d9d6;
}
small{
    color: white;
}